body{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
height:100%;
}

.container{
    margin-top: 2%;
}

.titles{
    text-align: center;
    margin-bottom: 4%;
}

.parkingList {
    width: 45%;
    margin: auto;
    border: 2px solid lightgrey;
    margin-top: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.parkingList li{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
    list-style-type: none;
}

.parkingListChild {
    margin-left: -2.5em;
    border-top: 2px solid lightgrey;
}

.topBorder {
    height: 30px;
    width: 100%;
    background-color: #0F398B;
}

.container li h2 {
    color: #0F398B;
    margin-bottom: 3%;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.directionsContainer{
    width:380px;
    height:100%;
    overflow-y:auto;
    float:left;
}

#myMap{
    position:relative;
    width:calc(100% - 380px);
    height:100%;
    float:left;
}