body{
margin: 0;
padding: 0;
font-family: sans-serif;
}

.container{
    width: 50%;
    margin-top: 2%;
}

.titles{
    text-align: center;
    margin-bottom: 4%;
}

.parkingList {
    margin: auto;
    border: 2px solid lightgrey;
    margin-top: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.parkingList li{
    font-size: 1.5em;
    list-style-type: none;
}

.topBorder {
    height: 30px;
    width: 100%;
    background-color: #0F398B;
}

.container li h2 {
    color: #0F398B;
    margin-bottom: 3%;
}