<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vejr Statistik</title>
</head>

<body>
    <div id="app" class="container">
        <input type="date" class="form-control" v-model="selectDate"> {{selectDate}}
        <input type="date" class="form-control" v-model="selectDate2"> {{selectDate2}}
        <button id="GetTemp" v-on:click="getTempData()">Get Temp Data</button>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="chart_div"></div>
        <br />
        <div id="btn-group">
    </div>
    </div>
    <script src="js/vejrstatistik.js"></script>
</body>

</html>